<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Group Chat</title>
  <link rel="stylesheet" href="/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <script type='text/javascript'>
    $(document).ready(() => {
      // intialize socket connection  
      var socket = io(); 

      // when form is submitted
      $('form').submit(function(e){
        // prevent the page from reloading
        e.preventDefault()
        var name = $('#name').val();

        // send name to the server
        socket.emit('user_name', {name: name});
  
        return false;
      });

      // everyone is listening for a new user's name
      socket.on('new_user', function(data){ 
        // when the name is recieved
        // create a new box with the users name
        $('.right').append(`<div id=${data.id} class='box'><p>${data.name}</p></div`);
      });

      socket.on('user_disconnect', function(data){
        // use id sent from the user_disconnected emit
        // to remove the box
        $(`#${data}`).remove();
      });

    });
  </script>
</head>
<body>
  <main>
    <div class="left">
      <h2>group chat</h2>
      <form action="">
        <input type="text" name="name" id="name" placeholder="Your full name">
        <input type="submit" value="Submit">
      </form>
    </div>
    <div class='right'>

    </div>
  </main>
</body>
</html>